body {
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	overflow-x:hidden;
}
article,header,main,nav,section {
	display:block;
}
html {
	font-family:sans-serif;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
}
body {
	margin:0;
}
a {
	background:transparent;
}
a:focus {
	outline:0;
}
a:active,a:hover {
	outline:0;
}
h1 {
	font-size:2em;
	margin:0.67em 0;
}
strong {
	font-weight:700;
}
img {
	border:0;
	max-width:100%;
}
/* ========================================================================== 1. Icons - Sets up the icon font and respective classes ========================================================================== */
/* Import the font file with the icons in it */
@font-face {
	font-family:"casper-icons";
	src:url("../fonts/casper-icons.eot?v=1");
	src:url("../fonts/casper-icons.eot?v=1#iefix") format("embedded-opentype"),url("../fonts/casper-icons.woff?v=1") format("woff"),url("../fonts/casper-icons.ttf?v=1") format("truetype"),url("../fonts/casper-icons.svg?v=1#icons") format("svg");
	font-weight:normal;
	font-style: normal;
}
/* Apply these base styles to all icons */
/* Each icon is created by inserting the correct character into the content of the:before pseudo element. Like a boss. */
/* IMPORTANT:When making any changes to the icon font,be sure to increment the version number by 1 in the @font-face rule. `?v=1` becomes `?v=2` This forces browsers to download the new font file.*/
/* ========================================================================== 2. General - Setting up some base styles ========================================================================== */
html {
	height:100%;
	max-height:100%;
	font-size:12px;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
body {
	height:100%;
	max-height:100%;
	letter-spacing:0.01rem;
	font-size:1.7rem;
	line-height:1.75em;
	color:#333;
	-webkit-font-feature-settings:'kern' 1;
	-moz-font-feature-settings:'kern' 1;
	-o-font-feature-settings:'kern' 1;
	text-rendering:geometricPrecision;
	font-weight:300	;
}
::-moz-selection {
	background:#D6EDFF;
}
::selection {
	background:#D6EDFF;
}
h1 {
	-webkit-font-feature-settings:'dlig' 1,'liga' 1,'lnum' 1,'kern' 1;
	-moz-font-feature-settings:'dlig' 1,'liga' 1,'lnum' 1,'kern' 1;
	-o-font-feature-settings:'dlig' 1,'liga' 1,'lnum' 1,'kern' 1;
	color:#2E2E2E;
	line-height:1.15em;
	margin:0 0 0.4em 0;
	font-family:"Playfair Display";
	text-rendering:geometricPrecision;
}
h1 {
	font-size:5rem;
	letter-spacing:-2px;
	text-indent:-3px;
}
a {
	color:#4A4A4A;
	transition:color 0.3s ease;
}
a:hover {
	color:#111;
}
p,ul {
	-webkit-font-feature-settings:'liga' 1,'onum' 1,'kern' 1;
	-moz-font-feature-settings:'liga' 1,'onum' 1,'kern' 1;
	-o-font-feature-settings:'liga' 1,'onum' 1,'kern' 1;
	margin:0 0 1.75em 0;
	text-rendering:geometricPrecision;
}
ul {
	padding-left:3rem;
}
li {
	margin:0.4em 0;
}
iframe {
	display:block;
	margin: 1.75em 0;
}
/* When a video is inside the fitvids wrapper,drop themargin on the iframe,cause it breaks stuff. */
/* ========================================================================== 3. Utilities - These things get used a lot ========================================================================== */
/* Clears shit */
.clearfix:before,.clearfix:after {
	content:" ";
	display:table;
}
.clearfix:after {
	clear:both;
}
.clearfix {
	zoom: 1;
}
/* Hides shit */
/* Creates a responsive wrapper that makes our content scale nicely */
.inner {
	position:relative;
	width:80%;
	max-width:710px;
	margin: 0 auto;
}
/* Centres vertically yo. (IE8+) */
.vertical {
	display:table-cell;
	vertical-align:middle;
	 background: rgba(0,0,0,0.2);
}
/* Wraps the main content & footer */
.site-wrapper {
	position:relative;
	z-index:10;
	min-height:100%;
	background:#fff;
	-webkit-transition:-webkit-transform 0.5s ease;
	transition:transform 0.5s ease;
	margin-top:64px;
}
/* ========================================================================== 4. General - The main styles for the the theme ========================================================================== */
.content {
	width:85%;
	margin:0px auto;
	background:#fff;
	padding:40px 80px;
	margin-top:100px;
	position:relative;
	/* border-left:1px solid rgba(0,0,0,0.08);
	border-right:1px solid rgba(0,0,0,0.08);
	border-top: 1px solid rgba(0,0,0,0.08); */
}
/* Big cover image on the home page */
.main-header {
	position:relative;
	display:table;
	width:100%;
	height:100vh;
	margin-bottom:5rem;
	text-align:center;
	background: #005688;
	/* background-image: url(assets\img\amazon.jpg) ; */
	background-size:cover;
	overflow:hidden;
}
.main-header .inner {
	width:80%;
	margin-top:-64px;
}
.main-header-content.inner h1 {
	color:#fff;
	
}
.main-nav {
	position:relative;
	padding:5px 5%;
	margin:0 0 0px 0;
}
.main-nav a {
	text-decoration:none;
	font-size:0.9em;
	letter-spacing:0.3px;
	font-weight:400;
	color:#ccc;
	font-family:Playfair Display;
}
.main-nav .nav-current a {
	color:#fff;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.main-nav a:hover {
	color: #fff;
}
/* Navigation */
/* Create a bouncing scroll-down arrow on homepage with cover image */
/* Stop it bouncing and increase contrast when hovered */
/* Put a semi-opaque radial gradient behind the icon to make it more visible on photos which happen to have a light background. */
/* Hide when there's no cover image or on page2+*/
/* Appears in the top left corner of your home page */
/* When the navigation is closed */
/* When the navigation is closed and there is no cover image */
/* When the navigation is opened */
/* Special styles when overlaid on an image*/
.main-nav.overlay {
	position:fixed;
	top:0;
	left:0;
	right:0;
	height:54px;
	border:none;
	background:linear-gradient(to bottom,rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%);
	background:rgba(0,0,0,0.8);
	z-index:9;
}
/* The details of your blog. Defined in ghost/settings/ */
/* Add subtle load-in animation for content on the home page */
/* Every post,on every page,gets this style on its <article>tag */
.post {
	position:relative;
	border-bottom:#EBF2F6 1px solid;
		padding-bottom:30px;
	word-wrap:break-word;
}
/* Add a little circle in the middle of the border-bottom on our .post just for the lolz and stylepoints. */
.post:after {
	display:block;
	content:"";
	width:0px;
	height:0px;
	border:#E7EEF2 1px solid;
	position:absolute;
	bottom:-5px;
	left:50%;
	margin-left:-5px;
	background:#FFF;
	border-radius:100%;
	box-shadow:#FFF 0 0 0 5px;
}
/* ========================================================================== 5. Single Post - When you click on an individual post ========================================================================== */
.post-template .post-title {
	margin-bottom:0;
	letter-spacing:-1px;
	font-style:italic;
}
/* Stop elements,such as img wider than the post content,from creating horizontal scroll - slight hack due to imperfections with browser width % calculations and rounding */
.post-template .content {
	width:80%;
	max-width:900px;
	margin:0px auto;
	margin-top:-100px;
	background:#fff;
	position:relative;
	padding:40px 50px;
	font-weight:300;
	font-family:Roboto;
	overflow:hidden;
}
.site-wrapper {
	background-color:#f7faf9;
}
/* Tweak the .post wrapper style */
.post-template .post {
	margin-top:0;
	border-bottom:none;
	padding-bottom: 0;
}
/* Kill that stylish little circle that was on the border,too */
.post-template .post:after {
	display: none;
}
/* Keep images centered,and allow images wider than the main text column to break out. */
.post-content img {
	display:block;
	max-width:126%;
	height:auto;
	padding:0.6em 0;
	/* Centers an image by (1) pushing its left edge to the center of its container and (2) shifting the entire image in the opposite direction by half its own width. Works for images that are larger than their containers. */
	position:relative;
	left:50%;
	-webkit-transform:translateX(-50%);
	/* for Safari and iOS */
	-ms-transform:translateX(-50%);
	/* for IE9 */
	transform:translateX(-50%);
}
/* The author credit area after the post */
/* list of author links - location / url */
/* Create some space to the right for the share links */
/* Drop the share links in the space to the right. Doing it like this means it's easier for the author bio to be flexible at smaller screen sizes while the share links remain at a fixed width the whole time */
/* ========================================================================== 6. Author profile ========================================================================== */
.post-head.main-header {
	height:65vh;
	min-height:180px;
}
/* Add a little circle in the middle of the border-bottom */
/* Location,website,and link */
/* Turn off meta for page2+to make room for extra pagination prev/next links */
/* ========================================================================== 7. Read More - Next/Prev Post Links ========================================================================== */
/* Special styles for posts with no cover images */
/* if there are two posts without covers,put a border between them */
/* Correctly position site-footer when next to the .read-next container */
/* ========================================================================== 8. Third Party Elements - Embeds from other services ========================================================================== */
/* Github */
/* Pastebin */
/* ========================================================================== 9. Pagination - Tools to let you flick between pages ========================================================================== */
/* The main wrapper for our pagination links */
/* Push the previous/next links out to the left/right */
/* On page2+make all the headers smaller */
/* On page2+show extra pagination controls at the top of post list */
/* ========================================================================== 10. Footer - The bottom of every page ========================================================================== */
/* ========================================================================== 11. Media Queries - Smaller than 900px ========================================================================== */
@media only screen and (max-width:900px) {
	.main-header {
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		height:auto;
		min-height:100%;
		height:100vh;
		padding:0;
	}
  .main-header .inner {
    margin-top: 0;
}
	.post {
		font-size:0.95em
	}
	ul {
		padding-left:2em;
	}
	h1 {
		font-size:4.5rem;
		text-indent:-2px;
	}

	.post-head.main-header {
		height:auto;
    min-height: 40vh;
	}
  .post-template .content {
    width: 80%;
    max-width: 80%;
    padding: 40px 20px;
  }
}
/* ========================================================================== 12. Media Queries - Smaller than 500px ========================================================================== */
@media only screen and (max-width:500px) {
	.main-header {
		height:60vh;
		margin-bottom:0;
	}
	.main-nav {
		padding:5px;
		margin-bottom:0rem;
	}
	.main-nav.overlay a:hover {
		color:#fff;
		border-color:transparent;
		background:transparent;
	}
	.inner {
		width:auto;
		margin:2rem auto;
	}
	.post {
		width:auto;
		margin-top:2rem;
		margin-bottom:2rem;
		margin-left:16px;
		margin-right:16px;
		padding-bottom:2rem;
		line-height:1.65em;
	}
	p,ul {
		font-size:0.95em;
		margin:0 0 2.5rem 0;
	}
	h1 {
		margin:0 0 0.3em 0;
	}
	h1 {
		font-size:2.8rem;
		letter-spacing:-1px;
	}
	.post-content img {
		padding:0;
		width:calc(100%+32px);
		/* expand with to image+margins */
		min-width:0;
		max-width:112%;
		/* fallback when calc doesn't work */
	}
	.post-head.main-header {
		min-height:30vh;
	}
	.main-header .inner {
		margin-top:0;
	}
}
/* ========================================================================== 13. Animations ========================================================================== */
/* Used to fade in title/desc on the home page */
/* Used to bounce .scroll-down on home page */
/* ========================================================================== End of file. Animations should be the last thing here. Do not add stuff below this point,or it will probably fuck everything up. ========================================================================== */
.main-nav ul {
	list-style:none;
	margin:5px 0;
	text-align:center;
	padding-left:0;
}
.main-nav ul li {
	display:inline-block;
}
.main-nav ul li a {
	padding:0 10px;
}
@font-face {
	font-family:'Mono Social Icons Font';
	src:url('../fonts/MonoSocialIconsFont-1.10.eot');
	src:url('../fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),url('../fonts/MonoSocialIconsFont-1.10.woff') format('woff'),url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),url('../fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
	src:url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
@media only screen and (max-width:500px) {
	.content,.post-template .content,.content,.post-template .content {
		margin-top:-30px;
	}
	.post-template .content {
		padding:20px 0;
	}
}
@media screen and (max-width:900px) {
	/* #menu is the original menu */
	#menu {
			display:none;
	}
	.site-wrapper {
		margin-top:0;
	}
	.main-nav.overlay {
		position:relative;
		height:3px;
	}
}
/*! * SlickNav Responsive Mobile Menu v1.0.5.5 * (c) 2015 Josh Cope * licensed under MIT */
